Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [24]:
import pandas as pd

In [25]:
rating = pd.read_csv('ml-latest-small/ratings.csv')
max_rating = rating[rating['rating'] == rating['rating'].max()]
max_rating['movieId'].value_counts().head(1)

318    153
Name: movieId, dtype: int64

In [26]:
power = pd.read_csv('power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [27]:
filtered_countries = power[ (power['country'] =='Latvia') | (power['country'] =='Lithuania') | (power['country'] =='Estonia')  ]
filtered_countries = filtered_countries[(filtered_countries['category'] == 4) | (filtered_countries['category'] == 12) | (filtered_countries['category'] == 21)]
filtered_countries = filtered_countries[(filtered_countries['year'] >= 2005) & (filtered_countries['year'] <= 2010)]
filtered_countries = filtered_countries[(filtered_countries['quantity'] >= 0)]
filtered_countries['quantity'].sum()
# filtered_countries.head()

240580.0

In [28]:
page_url = 'https://www.banknn.ru/kurs-kriptovalyut'
pd.read_html(page_url, attrs = {'class': 'table table-hover table-crypto'})[0]

             Криптовалюта    Капитализация       Объём 24ч   Курс Изменение
0              BitcoinBTC  121 961 322 161         943 105  6 670   +166,08
1               RippleXRP   16 028 693 682   1 712 253 427  01603   +0,0013
2             EthereumETH   15 027 230 120      13 748 064  13631      -043
3         Bitcoin CashBCH    4 043 417 464       2 014 724  22035      -154
4             LitecoinLTC    2 539 230 382       4 923 823   3928     +0,17
5                     NaN              NaN             NaN    NaN       NaN
6               MoneroXMR      810 456 023         545 106   4632     +1,75
7         DigitalCashDASH      639 326 304         960 511   6802      -338
8                ZCashZEC      303 930 511       1 338 764   3184      -029
9            DogecoinDOGE      231 335 525  38 240 176 497  00019         0
10  BitConnect CoinBCCOIN       11 125 599     (не задано)      1         0
11                    NaN              NaN             NaN    NaN       NaN
12            NameCoinNMC        5 374 281     (не задано)  03647   +0,0091
13            PeerCoinPPC        4 611 839         168 677  01767    +0,012
14         FeatherCoinFTC        1 422 932         466 684  00065   +0,0005
15           QuarkCoinQRK        1 406 471     (не задано)  00053    -00001
16           WorldCoinWDC          869 527     (не задано)  00073    -00001
17                    NaN              NaN             NaN    NaN       NaN